<div class="rapport-container">
  <header>
    <h1>Liste des Rapports des Projets</h1>
  </header>
  
  <!-- Barre de recherche -->
  <div class="search-bar">
    <input type="text" placeholder="Rechercher un projet..." [(ngModel)]="searchQuery" (input)="filterRapports()" />
  </div>

  <div class="rapport-list">
    <ul>
      <li *ngFor="let projet of filteredProjets">
        <div class="rapport-summary">
          <h3>{{ projet.nom }}</h3>
          <p>Responsable : {{ projet.responsable }}</p>
          <p>État : {{ projet.etat }}</p>
          <button (click)="showDetails(projet)">
            {{ selectedRapport === projet ? 'Cacher Détails' : 'Voir Détails' }}
          </button>
        </div>

        <!-- Détails du rapport -->
        <div *ngIf="selectedRapport === projet" class="rapport-details">
          <header>
            <img src="assets/images/oualanger.png" class="logo" />
            <h1>Rapport de Projet</h1>
          </header>

          <section class="rapport-details-content">
            <h2>Informations du Projet</h2>
            <div class="details-grid">
              <div><strong>Nom :</strong> {{ projet.nom }}</div>
              <div><strong>Emplacement :</strong> {{ projet.emplacement }}</div>
              <div><strong>Date de Début :</strong> {{ projet.dateDebut | date }}</div>
              <div><strong>Date de Fin :</strong> {{ projet.dateFin | date }}</div>
              <div><strong>Responsable :</strong> {{ projet.responsable }}</div>
              <div><strong>État :</strong> {{ projet.etat }}</div>
              <div><strong>Commentaire :</strong> {{ projet.commentaire }}</div>
            </div>

            <h3>Techniciens Assignés</h3>
            <div class="techniciens-list">
              <ul>
                <li *ngFor="let tech of projet.techniciens" class="technicien-item">
                  <div class="technicien-details">
                    <p><strong>Nom :</strong> {{ tech.nom }} {{ tech.prenom }}</p>
                    <p><strong>Matricule :</strong> {{ tech.matricule }}</p>
                    
                  </div>
                </li>
              </ul>
            </div>

            <section class="rapport-content">
              <h2>Contenu du Rapport</h2>
              <p>{{ projet.contenuRapport }}</p>
            </section>

            <footer>
              <p>Date de Création : {{projet.dateCreationRapport | date }}</p>
              <p>État du Rapport : {{ projet.etat }}</p>
              <button (click)="printReport(projet)" class="print">Imprimer</button>
              <button (click)="notifyReport(projet)" class="notify">Envoyer Notification</button>
            </footer>
          </section>
        </div>
      </li>
    </ul>
  </div>
</div>
